*{
  font-family: 'Redressed', cursive;
}
.max-height {
    min-height: 100vh;
  }
  
  .quote-container {
    background: rgba(255, 255, 255, 0.5);
  }
  
  #generate-btn:hover {
    background: #b09e99 !important;
    border-color: #b09e99 !important;
    color: #333333 !important;
  }
  .author {
    color: #64b6ac;
    
  }